
    <div class="col-xs-3">
        <h2>商品名検索</h2><hr>
        <%= form_tag(search_products_path, :method => 'get' ) do %>
            <%= text_field_tag :search %></br><br>
            <%= submit_tag 'Search' %>
        <% end %>
        <h2>種類検索</h2><hr>
        <% @types.each do |type| %>
            <li><%= link_to type.name , search_types_path(type), method: :get %></li><br>
        <% end %>
    </div>