

    <div class="col-xs-12">

        <%= render 'search/search_form' %>

        <div class="col-xs-9">
            <h2>検索結果</h2>

            <%= render 'products/product_index', products: @products %>

        </div>
    </div>
