
    <script src="/assets/skippr.min.js"></script>

	<div class="logo">
		    <div class="main1"></div>
	        <div class="main2"></div>
	</div>


	<div class="col-xs-12">
		<h2>About</h2><hr>
		<p>
			お酒好きな人がお酒の知識を披露できるサイトです。<br>
			昨今、対面型の店舗経営が難しい印象を持ったため、ネット通販が簡単に始められたらいいなと思い、ECサイトを作成してみました。<br>
			ぜひ、交流を楽しんでいきましょう。
		</p>
		<br>
		<h2>サービス紹介</h2><hr>
		<p>
			・お酒にまつわる、雑学を掲載<br>
			・匿名の掲示板機能<br>
			・会員登録後、お酒を作る道具が購入できます<br>
		</p>
		<br>
		<h2>所在地</h2><hr>
		<div id="address"></div>
		<div id='map'></div>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOIHhdse1IDELnIqbk9k--w8OxDIBf2ZE&callback=initMap" async defer></script>
	</div>
