
	<div class="logo">
		<div class="main1"></div>
	    <div class="main2"></div>
	</div>

	<div class="container">
		<div class="col-xs-12">
			<h1>ポートフォリオについて</h1><hr>
			<p>
				お酒好きな人がお酒の知識を披露できるPF用のサイトです。<br>
				昨今、対面型の店舗経営が難しい印象を持ったため、ネット通販が簡単に始められたらいいなと思い、
				ECサイトを作成してみました。<br>
				ぜひ、交流を楽しんでいきましょう。<br>
				管理者画面では、商品の受発注・売上の確認ができます。<br>
				<%= link_to("管理者ログイン画面へ", new_admin_session_path, data: {"turbolinks" => false}) %>
			</p>
			<br>
			<h2>サービス紹介</h2><hr>
			<p>
				・お酒にまつわる、雑学を掲載<br>
				・匿名の掲示板機能<br>
				・会員登録後、お酒を作る道具が購入できます<br>
				※PAY.JPを用いたクレジットカード決済機能まで実装しています。
			</p>
			<br>
			<h2>テスト用アカウント</h2><hr>
			<p>
				mail:test@test<br>
				password:tester<br>
				※エラーが出た場合、下部「お問い合わせ」よりご連絡ください。できうる限り対応します。<br>
				※ゲストログインもありますので、よかったらご活用ください。
			</p>
		</div>
	</div>

	<script>
	   	//スライドショー
		$(document).on('turbolinks:load', function() {
			// オプションを指定してSkipprの実行
			$(".logo").skippr({
			    // スライドショーの変化（"fade" or "slide"）
			    transition : 'slide',
			    // 変化にかかる時間（ミリ秒）
			    speed : 1000,
			    // easingの種類
			    easing : 'easeOutQuart',
			    // ナビゲーションの形（"block" or "bubble"）
			    navType : 'block',
			    // 子要素の種類（"div" or "img"）
			    childrenElementType : 'div',
			    // ナビゲーション矢印の表示（trueで表示）
			    arrows : false,
			    // スライドショーの自動再生（falseで自動再生なし）
			    autoPlay : true,
			    // 自動再生時のスライド切替間隔（ミリ秒）
			    autoPlayDuration : 3000,
			    // キーボードの矢印キーによるスライド送りの設定（trueで有効）
			    keyboardOnAlways : false,
			    // 1枚目のスライド表示時に戻る矢印を表示するかどうか [false]:矢印を隠さない [true]:矢印を隠す
			    hidePrevious : false
			});
		});
	</script>

    <script src="/assets/skippr.min.js"></script>
