

<h2>About</h2>
<p>
	お酒好きな人がお酒の知識を披露できるサイトです。<br>
	昨今、対面型の店舗経営が難しい印象を持ったため、ネット通販が簡単に始められたらいいなと思い、ECサイトを作成してみました。<br>
	ぜひ、交流を楽しんでいきましょう。
</p>

<h2>サービス紹介</h2>
<p>
	・お酒にまつわる、雑学を掲載<br>
	・匿名の掲示板機能<br>
	・会員登録後、お酒を作る道具が購入できます<br>
</p>

<h2>所在地</h2>
<div id="address"></div>
<div id='map'></div>

<style>
	#map {
	  height: 500px;
	  width: 100%;
	}
</style>

<script>
	let map
	let geocoder
	const display = document.getElementById('display')

	function initMap(){
		geocoder = new google.maps.Geocoder()

		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 35.6646706, lng: 139.7377352},zoom: 18,
		});

		marker = new google.maps.Marker({
			position:  {lat: 35.6646706, lng: 139.7377352},
			map: map
		});
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOIHhdse1IDELnIqbk9k--w8OxDIBf2ZE&callback=initMap" async defer></script>
