// Place all the styles related to the secret/producer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcom1{
	 margin-top: 80px;
	 padding-bottom: 0px;
}

/*固定する背景*/
.log{
  box-sizing: border-box;
  color: #FFF;
}
/*固定する背景*/
.parallax-bg {
  height: 300px;
  background-image: url("https://test111111222222.s3-ap-northeast-1.amazonaws.com/store/0d81c1f1aacd82b1b5a3a6a6c07c6946fd4d0e2c0359c6373400f805ec18-min-min.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #FFF;
}

/*menu設定*/
.menu2{
	text-align: center;
	li {
		display:inline;
		width: 150px;
		padding: 0 20px;
		margin-top: 10px;
	}
}


.white{
	color: white;
}

.padding-twitter{
	padding: 20px;
}
.padding-instagram{
	padding: 0px 5% 0px 15%;
}


@media screen and (max-width: 1199px) {
	.padding-twitter{
		padding: 0% 0px;
	}
	.padding-instagram{
		padding: 0px 5%;
	}
}

@media screen and (max-width: 880px) {
	.welcom1{
		 margin-top: 140px;
		 padding-bottom: 0px;
	}
	.padding-twitter{
		padding: 0% 17%;
	}
	.padding-instagram{
		padding: 0px 29%;
	}
}

@media screen and (max-width: 756px) {

	/* ------------------------- */
	/* --- ハンバーガーアイコン --- */
	/* ------------------------- */
	#hm-icon{				//位置
	  position: fixed;
	  right: 20px;
	  top: 14px;
	  z-index: 10;
	}
	.menu-trigger,
	.menu-trigger span {
	  display: inline-block;
	  transition: all .4s;
	  box-sizing: border-box;
	}
	.menu-trigger {
	  position: relative;
	  width: 30px;
	  height: 44px;
	}
	.menu-trigger span {
	  position: absolute;
	  left: 0;
	  width: 100%;
	  height: 3px;
	  background-color: #fff;
	  border-radius: 4px;
	}
	.menu-trigger span:nth-of-type(1) {
	  top: 10px;
	}
	.menu-trigger span:nth-of-type(2) {
	  top: 20px;
	}
	.menu-trigger span:nth-of-type(3) {
	  bottom: 10px;
	}
	.menu-trigger.active span:nth-of-type(1) {
	  -webkit-transform: translateY(20px) rotate(-45deg);
	  transform: translateY(20px) rotate(-45deg);
	  background-color: #fff;
	}
	.menu-trigger.active span:nth-of-type(2) {
	  opacity: 0;
	}
	.menu-trigger.active span:nth-of-type(3) {
	  -webkit-transform: translateY(-20px) rotate(45deg);
	  transform: translateY(-20px) rotate(45deg);
	  background-color: #fff;
	}
	/* ------------------------ */
	/* ------ spメニュー ------ */
	/* ------------------------ */
	#sp-menu {
	  position: fixed;
	  top: 0;
	  left: 0;
	  background: #000;
	  color: #fff;
	  width: 100%;
	  min-height: 100%;
	  display: none;
	  z-index: 9;
	}
	#sp-menu li{
	  text-align: center;
	  margin-bottom: 30px;
	}
	#sp-menu a{
	  color: #fff;
	  text-decoration: none;
	  font-weight: bold;
	}

	.padding-twitter{
		padding: 0px;
	}
	.padding-instagram{
		padding: 10px;
	}

	.welcom1{
		 margin-top: 80px;
		 padding-bottom: 0px;
	}

 }
