
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<div class="col-xs-12">
	<div class="text-center_thanks">
		<div class="thanks_bn1">
			<h1>購入ありがとうございます。</h1>
		</div>
		<div class="thanks_bn2">
			<h3><%= link_to "買い物を続ける", products_path, class:"btn btn-success" %></h3>
		</div>
	</div>
</div>
