
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//www.instagram.com/embed.js"></script>

<section class="text-center">
	<div class="log">
		<div class="parallax-bg">
			<div class="container">
				<h1 id="about" style="margin-top:100px;">開発者について</h1>
				<h3>吾輩は未経験である。仕事はまだない。</h3>
			</div>
		</div>
	</div>

	<div class="col-xs-12 scrollbox">
			<p style="margin-top: 30px">
				1991年生まれ<br>
				高校・4年制大学を卒業し、そのまま医療・介護関連の会社に新卒総合職として入社<br>
				2020年、会社を退職<br>
				IT業界への転職をこころみており、ポートフォリオとして、ECofsakeを作成。<br>
			</p>
	</div>

	<div style="padding-bottom: 20px;">
			<div class="text-left">
				<span class="white">（あっ、目立つこと、と競争が嫌いです。もし興味を持っていただけましたら詳細はお問い合わせよりご連絡ください）</span>。
			</div>
	</div>

	<div class="log">
		<div class="parallax-bg">
			<div class="container">
				<h1 style="margin-top: 130px" id="SNS">SNS</h1>
			</div>
		</div>
	</div>
	<div class="container padding_none">
		<div class="col-xs-12 scrollbox" style="display: flex; flex-wrap:wrap;">
			<div class="text-center">
				<h2>Twitter</h2>
				<a class="twitter-timeline" data-width="500" data-height="600" data-theme="dark" href="https://twitter.com/Shinnya272954?ref_src=twsrc%5Etfw">Tweets by Shinnya272954</a>
			</div>
			<div class="padding-sns text-center">
				<h2>Instagram</h2>
				<div align="center">
					<blockquote class="instagram-media text-center" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/CEwGmmuh-mH/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="12"></blockquote>
				</div>
			</div>
		</div>
	</div>

	<div class="log">
		<div class="parallax-bg">
			<div class="container">
				<h1 style="margin-top: 90px"><%= link_to(" お問い合わせ", inquiries_path, class: "glyphicon glyphicon-envelope inquiry", data: {"turbolinks" => false}) %></h1>
			</div>
		</div>
	</div>

</section>
